In [30]:
import pandas as pd

In [31]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [32]:
high_schools = pd.DataFrame()

In [33]:
high_schools["school_id"] = school_id
high_schools["school_name"] = school_name
high_schools["type_of_school"] = type_of_school
high_schools

   school_id            school_name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [36]:
school_type = high_schools["school_id"] >= 3
school_type

0    False
1    False
2    False
3     True
4     True
Name: school_id, dtype: bool

In [37]:
def

tootie

In [47]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [49]:
first_dog = Dog('Lady', 'blond', 'arf!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Lady
blond

'arf! arf!'